.container {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.socialIcon {
    font-size: 100px;
}

.main {
    width: 100%;
}
