/* components/WaveNavigation.module.css */
.wave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #003973 0%, #006994 30%, #00a8cc 60%, #c8ffff 100%);
    /* Wave colors */
    z-index: 1002; /* Ensures it covers everything */
}

.navContainer {
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navButtons button {
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.navButtons button.active {
    color: var(--pink);
}

.navButtons button:hover {
    color: var(--pink); /* Color change on hover */
    transform: scale(1.1); /* Slightly increase the size */
}

@media (max-width: 820px) {
    .navButtons {
        display: none; /* Hide normal nav on mobile */
    }

    .mobileMenu {
        display: block; /* Show menu when open */
        position: fixed;
        top: 0;
        right: 0;
        width: 80%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        color: var(--whiteSand);
        z-index: 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .mobileMenuOpen {
        opacity: 1;
        transform: translateX(0);
    }

    .mobileMenu button {
        font-size: 2rem;
        margin-bottom: 2rem;
    }
}

/* Hamburger styling */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.8rem;
    cursor: pointer;
    z-index: 1001; /* Ensure it's on top */
}

.hamburger span {
    display: block;
    height: 4px;
    background: var(--pink);
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    color: var(--pink);
    width: 100%;
}

.hamburgerOpen {
    transform: rotate(45deg) translate(5px, 5px);
    color: var(--pink);
    background-color: var(--pink);
}

/* Show the hamburger on mobile screens */
@media (max-width: 820px) {
    .hamburger {
        display: flex;
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
}
