/* components/WaveNavigation.module.css */
.wave {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(120deg, #003973 0%, #006994 30%, #00a8cc 60%, #c8ffff 100%);
    /* Wave colors */
    z-index: 100; /* Ensures it covers everything */
}

.navContainer {
    width: 50%;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.navButtons button {
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.navButtons button.active {
    color: #fb2394;
}

.navButtons button:hover {
    color: #fb2394; /* Color change on hover */
    transform: scale(1.1); /* Slightly increase the size */
}
