.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    display: flex;
}

.leftSide {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.copy {
}

.rightSide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.jobs {
    margin: 1rem 0;
}
