@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --darkSand: #967117;
    --whiteSand: #f4f1c9;
    --yellow: #fdd54e;
    --pink: #fb2394;
    --darkerAqua: #00dbff;
    --aqua: #00ffff;
    --lavaSand: #3b3b3b;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    background: var(--lavaSand);
    color: var(--whiteSand);
}

/* Base font size for mobile devices */
html {
    font-size: 14px; /* Default for small screens */
}

/* Medium screens (768px and up) */
@media (min-width: 768px) {
    html {
        font-size: 14px; /* 1rem = 14px */
    }
}

/* Large screens (1024px and up) */
@media (min-width: 1024px) {
    html {
        font-size: 16px; /* 1rem = 16px */
    }
}

/* Extra large screens (1280px and up) */
@media (min-width: 1280px) {
    html {
        font-size: 18px; /* 1rem = 18px */
    }
}

/* 2XL screens (1536px and up) */
@media (min-width: 1536px) {
    html {
        font-size: 20px; /* 1rem = 20px */
    }
}

* {
    box-sizing: border-box;
}

a {
    color: var(--pink);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

/* // white sand: #f4f1c9
// blue link: #0070f3
// dark sand: #967117
// yellow in logo: #FDD54E
// pink in logo: #FB2394 
dark aqua: #00DBFF
aqua: #00FFFF
*/
