@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    font-size: 18px;
    background: #3b3b3b;
    color: #f4f1c9;
}

* {
    box-sizing: border-box;
}

a {
    color: #fb2394;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    display: block;
}

/* // white sand: #f4f1c9
// blue link: #0070f3
// dark sand: #967117
// yellow in logo: #FDD54E
// pink in logo: #FB2394 */
